@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap&family=Secular+One&display=swap');
@import url('./variable.css');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(239, 246, 255, 0.15);
}

a {
    color: var(--color-primary-200);
    font-weight: 600;
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.icon-loading {
    animation: iconLoading 500ms infinite linear;
    font-size: 17px;
}

@keyframes iconLoading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.button {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 6px;
    font-weight: 600;
    justify-content: center;
    transition: .2s;
    text-align: center;
}

.button-size-large {
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 18px;
    height: 45px;
}

.button-size-medium {
    border-radius: 8px;
    font-size: 13px;
    height: 38px;
    padding: 0 16px;
}

.button-size-small {
    border-radius: 8px;
    font-size: 12px;
    height: 32px;
    padding: 0 12px;
}

.button-primary {
    background-color: var(--color-primary-100);
    border: 1px solid var(--color-primary-100);
    color: white;
}

.button-primary:hover {
    background-color: var(--color-primary-200);
}

.button-primary-disabled,
.button-primary-disabled:hover {
    background-color: var(--color-primary-100);
    opacity: 0.5;
    cursor: not-allowed;
}

.button-secondary {
    background-color: var(--color-slate-500);
    color: white;
}

.button-secondary:hover {
    background-color: var(--color-slate-600);
}

.button-secondary-disabled,
.button-secondary-disabled:hover {
    background-color: var(--color-slate-500);
    opacity: 0.5;
    cursor: not-allowed;
}

.button-danger {
    background-color: #FF6464;
    color: white;
}

.button-danger:hover {
    background-color: #CC4747;
    color: white;
}

.button-danger-disabled,
.button-danger-disabled:hover {
    background-color: #FF6464;
    opacity: 0.5;
    cursor: not-allowed;
}

.button-outline {
    background-color: white;
    border: 1px solid var(--color-primary-100);
    color: var(--color-primary-100);
}

.button-outline:hover {
    background-color: #EDEFFF;
}

.button-outline-disabled,
.button-outline-disabled:hover {
    background-color: white;
    opacity: 0.5;
    cursor: not-allowed;
}

.button-outline-danger {
    background-color: white;
    border: 1px solid rgb(220 38 38);
    color: rgb(220 38 38);
}

.button-outline-danger:hover {
    background-color: rgb(254 226 226);
}

.button-outline-danger-disabled,
.button-outline-danger-disabled:hover {
    background-color: white;
    opacity: 0.5;
    cursor: not-allowed;
}

.hover-underline:hover {
    text-decoration: underline;
}
