@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap&family=Secular+One&display=swap');
@import url('./variable.css');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(239, 246, 255, 0.15);
}

a {
    color: var(--color-primary-200);
    font-weight: 600;
    text-decoration: none;
}

.navbar {
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    height: 65px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}

.navbar__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 1100px;
}

.navbar__brand {
    color: #222;
    font-family: 'Secular One', sans-serif;
    font-size: 26px;
}

.navbar__button {
    align-items: center;
    display: flex;
    gap: 12px;
}

.search-box {
    width: 650px;
    height: 38px;
    position: relative;
}

.search-box__input {
    background: white;
    border: 1px solid var(--color-slate-400);
    border-radius: 8px;
    font-size: 14px;
    height: 100%;
    outline: none;
    padding: 0 16px;
    transition: .2s;
    width: 100%;
}

.search-box__input:hover {
    border-color: var(--color-slate-500);
}

.search-box__input:focus {
    border-color: var(--color-primary-100);
}

.search-box__button {
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    line-height: 0;
    padding: 6px 8px;
    right: 4px;
    transform: translate(0, -50%);
    transition: 0.2s;
    top: 50%;
}

.search-box__button:hover {
    background-color: var(--color-slate-200);
}

.auth-container {
    margin: 50px auto;
    width: 450px;
}

.auth-form {
    margin-top: 20px;
}

.auth-title {
    font-size: 24px;
    color: var(--color-slate-800);
}

.auth-subtitle {
    font-size: 14px;
    color: var(--color-slate-500);
    margin-top: 5px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.form__group-label {
    color: var(--color-slate-700);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form__group-input {
    background-color: white;
    border: 1px solid var(--color-slate-400);
    border-radius: 8px;
    color: var(--color-slate-800);
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    outline: none;
    padding: 0 16px;
    transition: .2s;
    width: 100%;
}

.form__group-input:hover {
    border-color: var(--color-slate-600);
}

.form__group-input:focus {
    border-color: var(--color-primary-100);
}

.form__group-input.textarea {
    height: 100px;
    resize: vertical;
    padding: 12px 16px;
}

.form__group-body {
    position: relative;
}

.form__group-password__icon {
    background: transparent;
    border: none;
    color: var(--color-slate-600);
    cursor: pointer;
    font-size: 24px;
    line-height: 0;
    outline: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.full-width {
    width: 100%;
}

.icon-loading {
    animation: iconLoading 500ms infinite linear;
    font-size: 17px;
}

@keyframes iconLoading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.button {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 6px;
    font-weight: 600;
    justify-content: center;
    transition: .2s;
    text-align: center;
}

.button-size-large {
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 18px;
    height: 45px;
}

.button-size-medium {
    border-radius: 8px;
    font-size: 13px;
    height: 38px;
    padding: 0 16px;
}

.button-size-small {
    border-radius: 8px;
    font-size: 12px;
    height: 32px;
    padding: 0 12px;
}

.button-primary {
    background-color: var(--color-primary-100);
    border: 1px solid var(--color-primary-100);
    color: white;
}

.button-primary:hover {
    background-color: var(--color-primary-200);
}

.button-primary-disabled,
.button-primary-disabled:hover {
    background-color: var(--color-primary-100);
    opacity: 0.5;
    cursor: not-allowed;
}

.button-secondary {
    background-color: var(--color-slate-500);
    color: white;
}

.button-secondary:hover {
    background-color: var(--color-slate-600);
}

.button-secondary-disabled,
.button-secondary-disabled:hover {
    background-color: var(--color-slate-500);
    opacity: 0.5;
    cursor: not-allowed;
}

.button-danger {
    background-color: #FF6464;
    color: white;
}

.button-danger:hover {
    background-color: #CC4747;
    color: white;
}

.button-danger-disabled,
.button-danger-disabled:hover {
    background-color: #FF6464;
    opacity: 0.5;
    cursor: not-allowed;
}

.button-outline {
    background-color: white;
    border: 1px solid var(--color-primary-100);
    color: var(--color-primary-100);
}

.button-outline:hover {
    background-color: #EDEFFF;
}

.button-outline-disabled,
.button-outline-disabled:hover {
    background-color: white;
    opacity: 0.5;
    cursor: not-allowed;
}

.button-outline-danger {
    background-color: white;
    border: 1px solid rgb(220 38 38);
    color: rgb(220 38 38);
}

.button-outline-danger:hover {
    background-color: rgb(254 226 226);
}

.button-outline-danger-disabled,
.button-outline-danger-disabled:hover {
    background-color: white;
    opacity: 0.5;
    cursor: not-allowed;
}

.paragraph-secondary {
    font-size: 14px;
    color: var(--color-slate-500);
}

.hover-underline:hover {
    text-decoration: underline;
}

.home-container {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    margin: 30px auto;
    width: 1100px;
}

.home-left {
    flex-shrink: 0;
    position: sticky;
    top: 80px;
    width: 200px;
}

.section-content {
    background-color: white;
    border: 1px solid var(--color-slate-100);
    border-radius: 8px;
    width: 100%;
}

.section-title {
    color: var(--color-slate-800);
    font-size: 17px;
    margin-bottom: 15px;
}

.categories-section {
    padding: 16px;
}

.category-option {
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 12px;
    transition: .2s;
}

.category-option:hover {
    border-color: var(--color-slate-200);
}

.category-option.active {
    background-color: var(--color-slate-100);
    border-left: 2px solid var(--color-primary-100);
}

.category-option__name {
    color: var(--color-slate-800);
    font-size: 14px;
    font-weight: 500;
}

.category-option__count {
    color: var(--color-slate-500);
    font-size: 12px;
    font-weight: 500;
}

.home-content {
    width: 100%;
}

.home-right {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 80px;
    width: 300px;
}

.want-create-thread {
    padding: 23px;
    margin-bottom: 12px;
}

.want-create-thread__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.threads {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.thread-item {
    padding: 18px;
}

.thread__header {
    align-items: center;
    display: flex;
    gap: 10px;
}

.thread__header-photo {
    border-radius: 50%;
    height: 35px;
    object-fit: cover;
    width: 35px;
}

.thread__header-name {
    font-size: 13px;
}

.thread__header-date {
    color: var(--color-slate-600);
    font-size: 11px;
}

.thread__content-title {
    color: var(--color-slate-800);
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}

.thread__content-title:hover {
    color: var(--color-primary-200);
    text-decoration: underline;
}

.thread__content-body {
    color: var(--color-slate-600);
    font-size: 13px;
    margin-top: 4px; 
}

.line-clamp-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.thread__action {
    align-items: center;
    display: flex;
    gap: 6px;
    margin-top: 15px;
}

.thread__action-button {
    align-items: center;
    background: transparent;
    border: 1px solid var(--color-slate-200);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    gap: 5px;
    padding: 6px 12px;
    transition: .2s;
}

.thread__action-button.active {
    border-color: var(--color-primary-100);
}

.thread__action-button.active > svg {
    color: var(--color-primary-100);
}

.thread__action-button:hover {
    background-color: var(--color-slate-100);
}

.thread__action-button > svg {
    color: var(--color-slate-600);
    font-size: 16px;
}

.thread__action-button__amount {
    color: var(--color-slate-600);
    font-size: 14px;
    font-weight: 600;
}

.leaderboard-section {
    padding: 18px;
}

.leaderboard-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leaderboard-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.leaderboard-user {
    align-items: center;
    display: flex;
    gap: 10px;
}

.leaderboard-photo {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.leaderboard-name {
    color: var(--color-slate-600);
    font-size: 14px;
}

.leaderboard-score {
    font-size: 14px;
    font-weight: 600;
}

.leaderboard-more {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.profile-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 20px;
}

.profile-photo {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.profile-name {
    margin-top: 15px;
}

.profile-score {
    color: var(--color-slate-700);
    font-size: 14px;
    margin-top: 2px;
}

.detail-container {
    align-items: flex-start;
    display: flex;
    gap: 30px;
    margin: 30px auto;
    width: 1000px;
}

.detail-leaderboards {
    flex-shrink: 0;
    position: sticky;
    top: 80px;
    width: 300px;
}

.detail-container > .detail-content {
    width: 100%;
}

.detail-container > .detail-content > .thread-item {
    padding: 24px;
}

.detail-container > .detail-content > .thread-item > .thread__header > .thread__header-photo {
    height: 40px;
    width: 40px;
}

.detail-container > .detail-content > .thread-item > .thread__header > .thread__header-name {
    font-size: 14px;
}

.detail-container > .detail-content > .thread-item > .thread__content-title {
    font-size: 24px;
}

.detail-container > .detail-content > .thread-item > .thread__content-title:hover {
    color: inherit;
    text-decoration: inherit;
}

.detail-container > .detail-content > .thread-item > .thread__content-body {
    font-size: 14px;
    margin-top: 10px;
}

.detail-container > .detail-content > .thread-item > .thread__action > .thread__action-button {
    padding: 8px 16px;
}

.detail-container > .detail-content > .thread-item > .thread__action > .thread__action-button > svg {
    font-size: 18px;
}

.detail-container > .detail-content > .thread-item > .thread__action > .thread__action-button > .thread__action-button__amount {
    font-size: 15px;
}

.write-comment {
    margin-top: 20px;
    padding: 24px;
}

.write-comment-logout {
    color: var(--color-slate-800);
    font-size: 15px;
    margin-bottom: 6px;
}

.list-comments {
    margin-top: 20px;
    padding: 24px;
}

.list-comments-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.comment-item {
    border-bottom: 1px solid var(--color-slate-200);
    padding-bottom: 20px;
}

.comment-item:last-child {
    border: none;
}

.comment__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.comment__header-user {
    align-items: center;
    display: flex;
    gap: 10px;
}

.comment__header-photo {
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.comment__header-name {
    font-size: 15px;
    font-weight: 600;
}

.comment__header-date {
    color: var(--color-slate-600);
}

.comment__body {
    font-size: 14px;
    margin-top: 10px;
}

.leaderboards-container {
    margin: 30px auto;
    width: 500px;
}

.leaderboards-container > .leaderboard-list {
    padding: 20px;
    gap: 16px;
}

.leaderboard-title {
    align-items: center;
    display: flex;
    gap: 4px;
}

.not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.not-found-image {
    width: 400px;
}

.not-found-text {
    color: var(--color-gray-200);
    font-size: 22px;
    margin: 20px 0;
}

.loading-center-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
}

.loading-center-content > img {
    width: 150px;
}
