@media screen and (max-width: 1150px) {
    .navbar__content,
    .home-container {
        width: 900px;
    }

    .search-box {
        width: 500px;
    }

    .home-left {
        width: 180px;
    }

    .home-right {
        width: 250px;
    }
}

@media screen and (max-width: 1050px) {
    .detail-container {
        width: 800px;
    }
}

@media screen and (max-width: 950px) {
    .navbar__content,
    .home-container {
        width: 700px;
    }

    .search-box {
        width: 300px;
    }

    .home-left {
        width: 150px;
    }

    .home-right {
        width: 200px;
    }
}

@media screen and (max-width: 850px) {
    .detail-container {
        width: 600px;
    }
    
    .detail-leaderboards {
        width: 220px;
    }
}

@media screen and (max-width: 750px) {
    .navbar__content,
    .home-container {
        width: 95%;
    }

    .search-box {
        width: calc(100% - 380px);
    }
}

@media screen and (max-width: 650px) {
    .search-box,
    .home-left,
    .home-right {
        display: none;
    }

    .home-container {
        margin: 20px auto;
    }

    .detail-container {
        margin: 20px auto;
        width: 92%;
    }

    .detail-leaderboards {
        display: none;
    }

    .categories-section,
    .leaderboard-section {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 550px) {
    .leaderboards-container {
        margin: 20px auto;
        width: 92%;
    }
}

@media screen and (max-width: 500px) {
    .auth-container {
        margin: 20px auto;
        width: 92%;
    }
}
