:root {
    /* @ COLOR - PRIMARY */
    --color-primary-100: rgb(37 99 235);
    --color-primary-200: rgb(29 78 216);

    /* @ COLOR - SLATE */
    --color-slate-500: rgb(100 116 139);
    --color-slate-600: rgb(71 85 105);
}